<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarityHub - Home</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <header>
    <nav>
        <a href="/Home">Home</a>
        <a href="/Projects">Projects</a>
        <a href="/Tasks">Tasks</a>
        <a href="/Calendar">Calendar</a>
        <a href="/Contacts">Contacts</a>
        <a href="/Account/Login" class="profile-icon">👤</a> <!-- Link do logowania -->
    </nav>
    </header>

    <main>
        <h1>Welcome to <span class="highlight">ClarityHub</span></h1>
        <p class="tagline">Bringing Clarity to Your Day, One Task at a Time!</p>
        
        <div class="content">
            <div class="card">
                <h2>My projects:</h2>
            </div>
            <div class="card">
                <h2>My tasks:</h2>
            </div>
            <div class="card">
                <h2>To do today:</h2>
            </div>
        </div>
    </main>
</body>
</html>
